[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
pandas = "*"
"netcdf4" = "*"
"9aa4f98" = {path = "/ufs/radujica/Workspace/weld/python/pyweld", editable = true}
"7409f53" = {path = "/ufs/radujica/Workspace/weld/python/grizzly", editable = true}


[dev-packages]

xarray = "*"


[requires]

python_version = "2.7"
