[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
pandas = "*"
"ad2d3ec" = {path = "/ufs/radujica/weld/python/pyweld/", editable = true}
"8e190d1" = {path = "/ufs/radujica/weld/python/grizzly/", editable = true}
xarray = "*"


[dev-packages]



[requires]

python_version = "2.7"
